body {
    font-family: Arial, sans-serif;
    background-color: #D8BFD8;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

#service-list {
    display: none;
}


#services, #booking {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #FFF0F5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #BC8F8F;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
